.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  gap: 20px;
}

.pagination button {
  width: 60px;
  aspect-ratio: 3/2;
  border: none;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.pagination .active {
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: white;
}
