.searcbar {
  width: 100%;
  margin: 10px 0;
}

.searchbar__container {
  height: 40px;
  width: 240px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
