.card {
  width: 90%;
  cursor: pointer;
  border: 1px solid var(--gray);
  transition: 300ms;
  margin-inline: auto;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  border-bottom: 5px solid var(--blue);
}

.card__desc {
  font-size: 1.4rem;
  padding: 20px 5px;
}

.card:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .card {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 24%;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 15%;
  }
}
