.card {
  width: 20%;
  cursor: pointer;
  border: 1px solid var(--gray);
  transition: 300ms;
}

.card img {
  width: 100%;
  border-bottom: 5px solid var(--blue);
}

.card__desc {
  font-size: 1.4rem;
  padding: 20px 5px;
}

.card:hover {
  transform: scale(1.05);
}
