.modal {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: var(--black);
}

.modal__main {
  padding: 50px;
  width: 40%;
  background-color: white;
  display: flex;
  gap: 20px;
  z-index: 10;
  position: relative;
}

.modal__main--text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.modal__main--btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
