* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgb(81, 141, 253);
  --black: rgba(0, 0, 0, 0.7);
  --gray: rgb(207, 207, 207);
  --white: rgb(255, 255, 255);
  --red: rgb(199, 7, 7);
}
